<?xml version="1.0"?>
<launch>
  <arg name="robot" default="turtlebot" />
  <node pkg="ds_mid" type="main.py" name="main"  output="screen">
    <param name="robot" value="$(arg robot)" />
  </node>
  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find ds_mid)/rviz/rviz.rviz"/>
</launch>
